.DS_Store
**/core
!core/

**/*~
**/*.pyc
**/.*.swp
**/.*.swo
**/*.o

jsonlang
_jsonlang.so
libjsonlang.so
libjsonlang++.so
libjsonlang.js
libjsonlang_test_file
libjsonlang_test_snippet
**/core.*
**/vgcore
**/vgcore.*
core/std.jsonlang.h
Makefile.depend
Makefile.depend.bak

**/*.tfstate
**/*.tfstate.backup

build/
dist/
jsonlang.egg-info/
jsonlang.dSYM/
